:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --add-background: #2f303a;
  --our-team-sec-bg: #f5f4fa;
  --subtitle-color: #757575;
  --main-footer-color: rgba(255, 255, 255, 0.6);
  --bg-page-color: #ffffff;
  --alt-modal-btn-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--main-color);
  background-color: var(--bg-page-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section_no-padding-top {
  padding-top: 0;
}

.section_other-background {
  background-color: var(--our-team-sec-bg);
}

.section__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section_no-padding-top {
    padding-top: 0;
  }
  .section__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo {
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
  }
}

.logo__theme-header {
  color: var(--main-color);
}

.logo__theme-footer {
  color: var(--bg-page-color);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
  }
  .mobile-menu__item {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__link {
    color: black;
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__link_active {
    color: var(--accent-color);
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
}
.mobile-menu__close-icon {
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-btn:hover .mobile-menu__close-icon, .mobile-menu__close-btn:focus .mobile-menu__close-icon {
  fill: var(--accent-color);
}

.mobile-menu_contact-list {
  margin-bottom: 64px;
}

.mobile-menu__contact-phone {
  margin-bottom: 32px;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.1764705882;
}

.mobile-menu__contact-phone-link {
  color: var(--accent-color);
}

.mobile-menu__contact-mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1666666667;
}

.mobile-menu__contact-mail-link {
  color: var(--subtitle-color);
}

.mobile-menu__social-list {
  display: flex;
  column-gap: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
}

.mobile-menu__social-link {
  color: var(--accent-color);
}

.mobile-menu__social-item {
  position: relative;
}
.mobile-menu__social-item:not(:last-child)::after {
  position: absolute;
  display: inline-block;
  content: "";
  width: 1px;
  height: 22px;
  right: -10px;
  background-color: rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.modal-button {
  display: inline-block;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bg-page-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  background-color: var(--alt-modal-btn-color);
}

@media screen and (min-width: 1200px) {
  .modal-button {
    padding: 10px 32px;
  }
}
.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.footer-social-links__text {
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
}

.social-list__link_footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon_footer {
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: #ffffff;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  border-color: var(--accent-color);
}

.modal__close-icon {
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover .modal__close-icon, .modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__capture {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form__field {
  margin-bottom: 10px;
}
.modal-form__field:nth-of-type(4) {
  margin-bottom: 20px;
}

.modal-form__input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  color: var(--subtitle-color);
  margin-bottom: 4px;
}

.modal-form__input-wrapper {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  color: black;
}
.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  color: black;
}
.modal-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.17;
}
.modal-form__message:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-form__custom-checkbox {
  border: 2px solid var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 1px;
  cursor: pointer;
  margin-right: 8.5px;
}

.modal-form__custom-checkbox-icon {
  display: none;
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox {
  border: transparent;
  background-color: var(--accent-color);
}
.modal-form__checkbox:checked + .modal-form__custom-checkbox .modal-form__custom-checkbox-icon {
  display: block;
}

.policy-text {
  font-size: 12px;
  line-height: 1.71;
  color: var(--subtitle-color);
}

.user-policy-link {
  color: var(--accent-color);
}

.modal-form__submit {
  align-self: center;
  padding: 10px 52px;
  border: none;
  border-radius: 4px;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bg-page-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__submit:hover, .modal-form__submit:focus {
  background-color: var(--alt-modal-btn-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
  .policy-text {
    font-size: 14px;
  }
}
.mailing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 450px;
}

.mailing-form__field {
  width: 100%;
}

.mailing-form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  color: #fff;
}
.mailing-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.mailing-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.mailing-form__capture {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mailing-form__submit {
  display: flex;
  width: 200px;
  align-items: center;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bg-page-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mailing-form__submit:hover, .mailing-form__submit:focus {
  background-color: var(--alt-modal-btn-color);
}

.mailing-form__close-icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .mailing-form {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .mailing-form {
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
    width: 570px;
  }
  .mailing-form__capture {
    text-align: left;
  }
}
.menu {
  display: none;
}

.contact-list {
  display: none;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-button {
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
  .menu {
    display: flex;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo {
    margin-right: 88px;
  }
  .mobile-menu-button {
    display: none;
  }
  .menu__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus, .menu__link:active {
    color: var(--accent-color);
  }
  .menu__link_active {
    color: var(--accent-color);
  }
  .menu__link_active::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    background: var(--accent-color);
    border-radius: 2px;
  }
  .contact-list {
    display: block;
    font-size: 12px;
    line-height: 1.16;
  }
  .contact-list__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--accent-color);
  }
  .contact-list__icon {
    margin-right: 10px;
    fill: var(--subtitle-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__link:hover .contact-list__icon, .contact-list__link:focus .contact-list__icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 92px;
  }
  .contact-list {
    display: flex;
    align-items: center;
    column-gap: 50px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.hero {
  padding: 118px 0;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-img-mob.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-img-mob@2x.jpg");
  }
}
.hero__title {
  max-width: 360px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bg-page-color);
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-img-tab.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-img-tab@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-img.jpg");
  }
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg-img@2x.jpg");
  }
}
.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__icon-wrapper {
  display: flex;
  height: 120px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--our-team-sec-bg);
}

.benefits__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.benefits__description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}

@media screen and (min-width: 768px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }
  .benefits__item {
    flex-basis: 47.96%;
  }
  .benefits__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    flex-wrap: nowrap;
  }
  .benefits__item {
    flex-basis: 23.08%;
  }
  .benefits__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.section_no-padding-top {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section_no-padding-top {
    display: block;
  }
  .section__title {
    margin-bottom: 50px;
  }
  .specialization {
    display: flex;
    column-gap: 30px;
  }
  .specialization__item {
    position: relative;
  }
  .specialization__label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: #fff;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  }
}
.our-team-list__item {
  background-color: var(--bg-page-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
}

.our-team-list__description {
  padding: 30px 0 24px 0;
}

.our-team-list__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.171875;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
  }
  .our-team-list__item {
    margin-top: 0;
    flex-basis: 47.96%;
  }
}
@media screen and (min-width: 1200px) {
  .our-team-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .our-team-list__description {
    padding: 30px 0;
  }
}
.client-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 30px;
}

.client-list__item {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
}

.client-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover, .client-list__link:focus {
  border-color: var(--accent-color);
}

.client-list__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list__link:hover .client-list__icon, .client-list__link:focus .client-list__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .client-list__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-list {
    flex-wrap: nowrap;
  }
  .client-list__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: flex-start;
  column-gap: 8px;
}

.filter__item:nth-child(-n+3) {
  margin-bottom: 15px;
}

.filter__button {
  padding: 6px 25px;
  border: none;
  border-radius: 4px;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--our-team-sec-bg);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.filter__button:hover, .filter__button:focus {
  color: var(--bg-page-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: block;
}

.portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}

.portfolio__link {
  display: block;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__item-description {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__item-subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}

.portfolio__item-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .overlay, .portfolio__link:focus .overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .portfolio__item:nth-child(2n) {
    margin-right: 0;
  }
  .portfolio__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .portfolio__item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
.footer {
  background-color: var(--add-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__contacts {
  text-align: center;
}

.address {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 60px;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-footer-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__link:hover, .address-list__link:focus {
  color: var(--bg-page-color);
}

.address-list__link_physical-address {
  color: var(--bg-page-color);
}

.social-list {
  margin-bottom: 60px;
}

.footer-social-links__text {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contacts-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 61px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__block {
    display: flex;
    align-items: baseline;
    column-gap: 93px;
  }
  .contacts-wrapper {
    display: flex;
    flex-basis: 507px;
    column-gap: 70px;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0;
  }
  .footer__contacts {
    text-align: left;
  }
}/*# sourceMappingURL=main.css.map */