.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: flex-start;
  column-gap: 8px;
}

.filter__item {
  &:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.filter__button {
  padding: 6px 25px;
  border: none;
  border-radius: 4px;

  font-family: var(--main-font);

  @include font(16px, 500, 26px);

  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--our-team-sec-bg);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--bg-page-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio {
  display: block;
}

.portfolio__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio__link {
  display: block;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__item-description {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio__item-title {
  @include font($fs: 18px, $lh: 36px);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__item-subtitle {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
}

.portfolio__item-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;

  color: #ffffff;
  @include font(18px, 400, 28px);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio__link:hover &,
  .portfolio__link:focus & {
    transform: translateY(0%);
  }
}

@media screen and (min-width: 768px) {
  .filter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .portfolio__item {
    flex-basis: calc((100% - 30px) / 2);

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc((100% - 2 * 30px) / 3);

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}
