.our-team-list__item {
  background-color: var(--bg-page-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.our-team-list__description {
  padding: 30px 0 24px 0;
}

.our-team-list__title {
  margin-bottom: 10px;
  @include font(16px, 500, 18.75px);
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subtitle-color);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .our-team-list__item {
    margin: 0;
    flex-basis: 47.96%;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .our-team-list__description {
    padding: 30px 0;
  }
}
