.mailing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 450px;
}

.mailing-form__field {
  width: 100%;
}
.mailing-form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;

  font-size: 16px;
  color: #fff;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.mailing-form__capture {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.mailing-form__submit {
  display: flex;
  width: 200px;
  align-items: center;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bg-page-color);
  background-color: var(--accent-color);

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--alt-modal-btn-color);
  }
}

.mailing-form__close-icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .mailing-form {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .mailing-form {
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
    width: 570px;
  }
  .mailing-form__capture {
    text-align: left;
  }
}

// .mailing-form {
//   display: flex;
//   align-items: flex-end;
//   gap: 12px;
//   width: 570px;
//   margin-left: 93px;
// }

// .mailing-form__capture {
//   margin-bottom: 20px;
//   text-transform: uppercase;
//   line-height: 1.14;
//   font-weight: 700;
//   letter-spacing: 0.03em;
//   color: #ffffff;
// }

// .mailing-form__input {
//   width: 358px;
//   height: 50px;
//   border: 1px solid rgba(255, 255, 255, 0.3);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   background-color: transparent;
//   padding-left: 16px;
//   padding-right: 16px;

//   font-size: 16px;
//   color: #fff;

//   &::placeholder {
//     font-size: 16px;
//     line-height: 1.25;
//     color: rgba(255, 255, 255, 0.6);
//   }

//   &:focus {
//     border-color: var(--accent-color);
//     outline: none;
//   }
// }

// .mailing-form__submit {
//   display: flex;
//   align-items: center;
//   padding: 10px 32px;
//   border: none;
//   border-radius: 4px;

//   font-family: var(--main-font);
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.88;
//   text-align: center;
//   letter-spacing: 0.06em;
//   color: var(--bg-page-color);
//   background-color: var(--accent-color);

//   cursor: pointer;
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     background-color: var(--alt-modal-btn-color);
//   }
// }

// .mailing-form__close-icon {
//   margin-left: 10px;
// }
