.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.1);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 450px;
  min-height: 609px;

  padding: 40px;
  background-color: #ffffff;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__close-icon {
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: var(--accent-color);
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__capture {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form__field {
  margin-bottom: 10px;

  &:nth-of-type(4) {
    margin-bottom: 20px;
  }
}

.modal-form__input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  color: var(--subtitle-color);
  margin-bottom: 4px;
}

.modal-form__input-wrapper {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 16px;
  color: black;

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal-form__message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 16px;
  color: black;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    line-height: 1.17;
  }

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-form__custom-checkbox {
  border: 2px solid var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 1px;
  cursor: pointer;
  margin-right: 8.5px;
}

.modal-form__custom-checkbox-icon {
  display: none;
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox {
  border: transparent;
  background-color: var(--accent-color);

  .modal-form__custom-checkbox-icon {
    display: block;
  }
}

.policy-text {
  font-size: 12px;
  line-height: 1.71;
  color: var(--subtitle-color);
}

.user-policy-link {
  color: var(--accent-color);
}

.modal-form__submit {
  align-self: center;
  padding: 10px 52px;
  border: none;
  border-radius: 4px;

  font-family: var(--main-font);
  @include font();
  // font-weight: 700;
  // font-size: 16px;
  // line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--bg-page-color);
  background-color: var(--accent-color);

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--alt-modal-btn-color);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
  .policy-text {
    font-size: 14px;
  }
}
